<ng-container
  *ngIf="{
    beginnerCourses: beginnerCourses$ | async,
    advancedCourses: advancedCourses$ | async
  } as observables"
>
  <div class="courses-panel">
    <h3>All Courses</h3>

    <mat-tab-group>
      <mat-tab label="Beginners">
        <app-course-card-list [courses]="observables.beginnerCourses">
        </app-course-card-list>
      </mat-tab>

      <mat-tab label="Advanced">
        <app-course-card-list [courses]="observables.advancedCourses">
        </app-course-card-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
